/* For entire window */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

/* For title & header  */
.title-block {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.exit__button {
    position: absolute;
    top: 0px;
    right: 0px;
    
    padding: .5rem;

    cursor: pointer;
}

/* Removes default styles from headers */
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
 }

/* Header text */
h1 {
    font-size: medium;
    font-weight: 800;
}

/* Insight title style */
h2 {
    font-size: small;
    font-weight: 600;
}

/* Insight number style */
h3 {
    margin: 0;
    font-size: small;
    font-weight: 600;
}

p {
    padding: .5rem;
    margin: 0rem;
    font-size: small;
    line-height: 150%;
    font-weight: 300;
}

/* Insight information */
.insights {
    width: 100%;
}

/* Individual insight structure (not including slider */
.insight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.insight__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border-style: solid;
    border-color: lightgray;

    margin-bottom: 1.5rem;

    box-shadow: 5px 5px 10px gray;

    cursor: pointer;
}

/* Individual insight title structure */
.insight__title {
    padding: .5rem;
    min-width: 115px;
    max-width: 200px;
}

.insight__metrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.insight__icon {
    padding: 0rem .5rem;

    color: rgba(139, 192, 74, 1);
}

/* Individual insight number structure */
.insight__number {
    min-width: 30px;
    max-width: 50px;

    text-align: center;
    padding: .5rem;
    border-left:solid lightgray
}

/* Slider styles */
.insight__slider {

    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 8px;
    appearance: none;
    outline: none;
    background:linear-gradient(90deg, rgba(244, 67, 54, 1) 0%, rgba(139, 192, 74, 1) 40%, rgba(139, 192, 74, 1) 60%, rgba(244, 67, 54, 1) 100%);
}
    
/* Slider indicator */
.insight__slider::-webkit-slider-thumb {
    appearance: none;
    appearance: none;
    width: 3px;
    height: 11px;
    background: black;
}

.horizontal__rule {
    display: flex;
    border-width: 0;
    height: 1px;
    width: 100%;
    background-color: lightgray;
    
}

.explanation__container {
    margin-top: 1.5rem;
}