/* For entire window */
.container {
    display: flex;
    flex-direction: column;
}

/* For title & header  */
.title-block {
    display: flex;
    justify-content: center;
}

.exit__button {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* To bring insights into center */
.section__margin {
    margin: 0rem 4rem
}

/* Header text */
h1 {
    font-size: x-large;
    font-weight: 800;
}

/* Insight title style */
h2 {
    font-size: large;
    font-weight: 500;
}

/* Insight container */
.insights {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Individual insight structure */
.insight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* Individual insight title structure */
.insight__title {
    margin-right: 6rem;
    min-width: 150px;
    max-width: 180px;
}

.insight__icon {
    margin-right: 2rem;
}

/* Individual insight number structure */
.insight__number {
    min-width: 30px;
    max-width: 50px;

    text-align: center;
}