body {
    background-color: #f3f2ef;
}

/* For entire window */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

/* For title & header  */
.title-block {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.exit__button {
    position: absolute;
    top: 0px;
    right: 0px;
    
    padding: .5rem;

    cursor: pointer;
}

/* Removes default styles from headers */
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
 }

/* Header text */
h1 {
    font-size: 18px;
    font-weight: 800;
}

/* Insight title style */
h2 {
    font-size: 14px;
    font-weight: 600;
}

/* Insight number style */
h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
/* Wording sub-heading style */
h4 {
    font-size: small;
    font-weight: 600;
}

p {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    margin: 0rem;
    font-size: 12px;
    line-height: 175%;
    font-weight: 300;
}

/* Insight information */
.insights {
    width: 100%;
}

/* Individual insight structure (not including slider */
.insight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.insight__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: white;
    border-style: solid;
    border-color: lightgray;

    margin-bottom: 1.5rem;
    transition: all .33s ease-out;

    cursor: pointer;
}

/* If the item is being hovered over, or is clicked, scale */
.insight__container:hover, .active__rs {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px gray;
}

/* Individual insight title structure */
.insight__title {
    padding: .5rem;
    max-width: 200px;
}

.insight__metrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.insight__icon {
    padding: 0rem .5rem;

    color: rgba(139, 192, 74, 1);
}

/* Individual insight number structure */
.insight__number {
    min-width: 30px;
    max-width: 50px;

    text-align: center;
    padding: .5rem;
    border-left:solid lightgray
}

/* Slider area (used as a blank div) */
.insight__slider {
    display: flex;
    width: calc(100% - 5px);
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 8px;
}

/* Slider indicator rectangle */
.slider__rectangle {
    display: flex;
    position: relative;
    z-index: 1;
    width: 5px;
    margin-top: -3px;
    /* margin-bottom: -1.5px; */
    background: black;

    transition: all 1s ease-out;
}

/* Slider color gradient structure */
.slider__gradient {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-top: -8px;
    height: 8px;
}

/* Slider color gradients */
.paragraph__gradient {
    background:linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 20%, rgba(255, 231, 51, 1) 40%, rgba(76, 175, 80, 1) 60%, rgba(255, 231, 51, 1) 80%, rgba(255, 0, 0, 1) 100%);
}
.question__gradient {
    background:linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 231, 51, 1) 12.5%, rgba(76, 175, 80, 1) 25%, rgba(76, 175, 80, 1) 50%, rgba(255, 231, 51, 1) 62.5%, rgba(255, 0, 0, 1) 80%, rgba(255, 0, 0, 1) 100%);
}
.grade__gradient {
    background:linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(76, 175, 80, 1) 25%, rgba(255, 231, 51, 1) 50%, rgba(255, 0, 0, 1) 75%, rgba(255, 0, 0, 1) 100%);
}
.word__gradient {
    background:linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(255, 231, 51, 1) 12.5%, rgba(255, 0, 0, 1) 24%, rgba(255, 0, 0, 1) 50%, rgba(255, 0, 0, 1) 80%, rgba(255, 0, 0, 1) 100%);
}

/* Horizontal rule separating insights from explanations */
.horizontal__rule {
    display: flex;
    border-width: 0;
    height: 1px;
    width: 100%;
    background-color: gray;
    margin: 0;
}

/* Adding margin above the explanation container */
.explanation__container {
    margin-top: 1.5rem;

    background-color: white;
    border-style: solid;
    border-color: lightgray;
}

/* Class for adding link to Rocketstart website */
.learn__more {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}

/* Class for words that need to be removed as part of Wording Insight */
.red {
    color: red;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

/* For 4k devices */
@media screen and (max-width: 900px) {
    h1 {
        font-size: 36px;
    }
    .title-block {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 22px;
    }
    .insight__container {
        margin-bottom: 2.5rem;
    }
    .explanation__container {
        margin-top: 2.5rem;
    }
    p {
        font-size: 20px;
    }
    .material-icons {
        font-size: 36px;
    }
}

/* For 4k devices */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 28px;
    }
    .title-block {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    .insight__container {
        margin-bottom: 2rem;
    }
    .explanation__container {
        margin-top: 2rem;
    }
    p {
        font-size: 18px;
    }
    .material-icons {
        font-size: 36px;
    }
}

/* For larger desktops and laptops */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 18px;
    }
    .title-block {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 14px;
    }
    .insight__container {
        margin-bottom: 1.5rem;
    }
    .explanation__container {
        margin-top: 1.5rem;
    }
    p {
        font-size: 12px;
    }
    .material-icons {
        font-size: 24px;
    }
}

/* For larger desktops and laptops */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 16px;
    }
    .title-block {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 13px;
    }
    h3 {
        font-size: 13px;
    }
    .insight__container {
        margin-bottom: 1.5rem;
    }
    .explanation__container {
        margin-top: 1.5rem;
    }
    p {
        font-size: 11px;
    }
    .material-icons {
        font-size: 36px;
    }
}

/* For smaller desktops and laptops */
@media screen and (max-width: 240px) {
    h1 {
        font-size: 14px;
    }
    .title-block {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 11px;
    }
    h3 {
        font-size: 11px;
    }
    .insight__title {
        padding: .5rem;
    }
    .insight__number {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    p {
        font-size: 11px;
    }
    .material-icons {
        font-size: 36px;
    }
}